{% extends "base.html" %}

{% block content %}
<div class="container-fluid my-3">
  <h2>Expiring Blood Units</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Blood Bag ID</th>
        <th>Donor Name</th>
        <th>Blood Type</th>
        <th>Volume (ml)</th>
        <th>Expiry Date</th>
      </tr>
    </thead>
    <tbody>
      {% for blood_bag in blood_bags %}
      <tr>
        <td>{{ blood_bag.ID }}</td>
        <td>{{ blood_bag.donor_name }}</td>
        <td>{{ blood_bag.blood_type }}</td>
        <td>{{ blood_bag.volume }}</td>
        <td>{{ blood_bag.expiry_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
