{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2>Recipient History</h2>
    <hr>

    <div class="row mb-4">
      <div class="col-md-12">
        <form class="form-inline float-right">
          <div class="form-group mr-3">
            <label for="start_date" class="mr-2">Start Date:</label>
            <input type="date" class="form-control" id="start_date" name="start_date" required>
          </div>
          <div class="form-group mr-3">
            <label for="end_date" class="mr-2">End Date:</label>
            <input type="date" class="form-control" id="end_date" name="end_date" required>
          </div>
          <button type="submit" class="btn btn-primary">Filter</button>
        </form>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Recipient Name</th>
          <th>Blood Group</th>
          <th>Date of Transfusion</th>
          <th>Donor Name</th>
        </tr>
      </thead>
      <tbody>
        {% for recipient in recipients %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ recipient.name }}</td>
            <td>{{ recipient.blood_group }}</td>
            <td>{{ recipient.date_of_transfusion }}</td>
            <td>{{ recipient.donor_name }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="5">No recipients found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
